__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.dist/
build/
dist/
.venv/
.env
.ipynb_checkpoints/
data/synthetic/
reports/*.html
reports/figures/
# Ignore generated reports/figures by default
reports/figures/*

# But keep curated screenshots
!reports/figures/
!reports/figures/screenshots/
!reports/figures/screenshots/**
